<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Système d'inventaire</title>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->

    <style type="text/css">

    </style>
</head>
<body>
    <span style="font-size:30px">Système d'inventaire</span>
    <hr/>
    <div id="purchases-list"></div>
    <div id="transformations-list"></div>
    <div id="densities-list"></div>
    <hr/>
    <b>TODO:</b>
    <ul>
        <li>Trouver pourquoi l'enseignant reçoit des erreurs 500 dans @POST /transactions/</li>

        <li>Séparer les documents en trois sous-collections:
            transactions.purchases, transactions.transformations et transactions.densities</li>
        <li>Mettre à jour les méthodes de vérifications de format</li>
        <li>Vérifier si les documents sont bien distribuer à travers les sous-documents suite à un POST</li>
        <li>Mettre à jour la route pour dropper toutes les collections</li>

        <li>Vérifier les unités lorsqu'on fait des calculs avec les données (ex. coût moyen)</li>
        <li>Trouver un moyen que la manipulation de string ne se base pas sur les caps (ex.: miniscule dans 'item' et 'date')</li>

        <li>Apprendre comment créer les éléments HTML dynamiques avec Flask et Python</li>
        <li>Afficher les résultats de ces exploitation</li>

        <li>Vérifier si toutes les fonctions répondent aux attentes et sont valides</li>
        <li>Vérifier que tous les appels d'API soient validés</li>
        <li>Cleaner le code</li>
    </ul>

    <script>

    </script>
</body>
</html>