<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Système d'inventaire</title>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->

    <style type="text/css">

    </style>
</head>
<body>
    <span style="font-size:30px">Système d'inventaire</span>
    <hr/>
    <div class="purchases-list" id="purchases"></div>
    <div class="transformations-list" id="transformations"></div>
    <div class="densities-list" id="densities"></div>
    <hr/>
    <b>TODO:</b>
    <ul>
        <li>Vérifier que l'erreur 500 du correcteur est corrigé</li>

        <li>Vérifier avec l'application Excel pour les normes</li>

        <li>Est-ce possible d'utiliser JsonSchema sans case sensitive?</li>
        <li>Ajouter l'utilisation de JsonSchema pour API PUT</li>

        <li>Apprendre comment créer les éléments HTML dynamiques avec Flask et Python</li>
        <li>Afficher les résultats de ces exploitation</li>

        <li>Écrire le rapport à remettre en fin novembre</li>

        <li>Cleaner le code</li>
    </ul>

    <script>

    </script>
</body>
</html>